.main-body{
  width: auto;
  height: 100vh;

  .bg-image{
    position: fixed;
  }

  .slide-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
  }
}
