<div style="position: fixed; top: 50px; left: 50px; z-index: 100">
  mainPosition {{mainPosition}}<br>

  slideShow_1 {{slideShow_1}}<br>

  navShow_1 {{navShow_1}} <br>

  slideHide_1 {{slideHide_1}}<br>

  navHide_1 {{navHide_1}}<br>

</div>

<div class="app-main" [class.app-main-loading]="!loading">
  <div class="loading-container" *ngIf="!loading">
    <div class="loading-gif">
    </div>
  </div>

  <div class="main-body">
    <img class="bg-image" src="../../../assets/images/bg.png" alt="" [style.marginLeft.px]="-bgLeft">

    <div class="slide">
      <div *ngFor="let items of sliderElements, let x = index"
           [class]="items.class"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top"
      >
        <div class="slide-group" *ngFor="let elem of items.slideGroup">
          <img [class]="elem.banner?'banner': elem.class"
               [class.show]="currentSlide === x"
               [style.marginTop.px]="elem.titleBanner? slideShow_1 + slideHide_1+ slideShow_2 + slideHide_2 + slideShow_3 + slideHide_3 + slideShow_4 + slideHide_4: ''"
               [style.marginLeft.px]="elem.stopSlide?(-slideOneLeft*elem.slideSpeed+slideDelay_1+slideDelay_2+slideDelay_3+slideDelay_4+slideDelay_5+slideDelay_6+slideDelay_7+slideDelay_8):(-slideOneLeft*elem.slideSpeed)"
               src="../../../assets/images/{{elem.src}}"
               alt=""
               [style.left.vw]="elem.left"
               [style.top.vh]="elem.top">


          <div *ngFor="let data of elem.extraInfo, let id = index"
               class="slide-extra-info {{data.class}}"
               [class.show]="slide_4TabsCounter === id"
               [style.left.vw]="elem.left"
               [style.top.vh]="elem.top"
               [ngSwitch]="data.id"
               [style.marginLeft.px]="elem.stopSlide?(-slideOneLeft*elem.slideSpeed+slideDelay_1+slideDelay_2+slideDelay_3+slideDelay_4+slideDelay_5+slideDelay_6+slideDelay_7+slideDelay_8):(-slideOneLeft*elem.slideSpeed)"
          >

            <div *ngSwitchCase=data.id >
              <img *ngFor="let item of data.group"
                   [class]="item.class"
                   src="../../../assets/images/countries/{{item.src}}"
                   alt="">

              <div class="nav-items">
                <div class="prev"
                     [class.prev-hide]="id === 0"
                     (click)="prevTab(id === 0)"></div>
                <div class="next"
                     [class.next-hide]="id === elem.extraInfo.length-1"
                     (click)="nextTab(id === elem.extraInfo.length-1)"></div>
              </div>

              <div class="nav-info">
                <div class="cafes" (click)="showCloudModal = true; showCafes = true;">
                </div>
                <div class="places" (click)="showCloudModal = true; showPlaces = true;">
                </div>
                <div class="advanced" (click)="showCloudModal = true; showAdvanced = true;">
                </div>
              </div>

              <div class="cloud-modal" [class.show]=showCloudModal>
                <div *ngFor="let modal of data.infoModals"
                     [ngSwitch]="modal.id">
                  <img *ngSwitchCase="1"
                       src="../../../assets/images/countries/{{modal.src}}"
                       alt=""
                       class="cloud-description"
                       [class.show]="showCafes">
                  <img *ngSwitchCase="2"
                       src="../../../assets/images/countries/{{modal.src}}"
                       alt=""
                       class="cloud-description"
                       [class.show]="showPlaces">
                  <img *ngSwitchCase="3"
                       src="../../../assets/images/countries/{{modal.src}}"
                       alt=""
                       class="cloud-description"
                       [class.show]="showAdvanced">
                </div>

                <div class="modal-close"
                     (click)="showCloudModal= false; showCafes= false; showPlaces= false; showAdvanced = false">
                </div>
              </div>
            </div>
          </div>

          <div class="slide-link" *ngIf="elem.link"
               [style.marginLeft.px]="elem.stopSlide?(-slideOneLeft*elem.slideSpeed+slideDelay_1+slideDelay_2+slideDelay_3+slideDelay_4+slideDelay_5+slideDelay_6+slideDelay_7+slideDelay_8):(-slideOneLeft*elem.slideSpeed)">
            <a [href]="elem.link" target="_blank"> some text </a>
          </div>
        </div>

        <div class="slider-switch" *ngFor="let nav of items.slideDots"
             [style.marginLeft.px]="nav.stopSlide?(-slideOneLeft*nav.slideSpeed+slideDelay_1+slideDelay_2+slideDelay_3+slideDelay_4+slideDelay_5+slideDelay_6+slideDelay_7+slideDelay_8):(-slideOneLeft*nav.slideSpeed)"
             [style.opacity]="navShow_1 + navHide_1 + navShow_2 + navHide_2 + navShow_3 + navHide_3 + navShow_4 + navHide_4">
          <div class="slider-dots" *ngFor="let elem of ' '.repeat(9).split(''),  let x = index"
               [class.slider-active]="nav.activeElement === x+1"
               (click)="scrollTo()">
          </div>
        </div>
      </div>
    </div>

    <div class="sprites">
      <div *ngFor="let items of cloudGroup"
           [class]="items.src"
           [style.marginLeft.px]="-cloudsLeft"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top">
      </div>

      <div *ngFor="let items of decorationGroup"
           [class]="items.src"
           [style.marginLeft.px]="items.slideDelay?(-decorationSpeed + nloDelay)*items.slideSpeed:(-decorationSpeed*items.slideSpeed)"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top"
           [style.z-index]="items.z_index">
      </div>

      <div *ngFor="let items of treeGroup"
           [class]="items.src"
           [style.marginLeft.px]="items.slideDelay?(-treeLeft + treeDelay_1 + treeDelay_2 + treeDelay_3 )*items.slideSpeed:(-treeLeft*items.slideSpeed)"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top"
           [style.z-index]="items.z_index">
      </div>

      <div *ngFor="let items of shrubGroup"
           [class]="items.src"
           [style.marginLeft.px]="-treeLeft*items.slideSpeed"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top">
      </div>

      <div class="plane"
           [style.marginLeft.px]="planeSpeed">
      </div>
    </div>
  </div>
</div>

