<div style="position: fixed; top: 50px; left: 50px; z-index: 100">
  mainPosition {{mainPosition}}<br>

  navShow_1 {{navShow_1}}<br>

</div>

<div class="app-main" [class.app-main-loading]="!loading">
  <div class="loading-container" *ngIf="!loading">
    <div class="loading-gif">
    </div>
  </div>

  <div class="main-body">
    <img class="bg-image" src="../../../assets/images/bg.png" alt="" [style.marginLeft.px]="-bgLeft">

    <div class="baner">
      <!--<img class="baner-img" src="../../../assets/images/banner/slide-2-banner.png" alt=""-->
      <!--[style.marginTop.px]="banerTop + banerBottom">-->
    </div>

    <div class="slide">
      <div *ngFor="let items of sliderElements"
           [class]="items.class"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top"
      >
        <img *ngFor="let elem of items.slideGroup"
             [class]="elem.class"
             [style.marginTop.px]="elem.titleBanner? slideShow_1 + slideHide_1 : ''"
             [style.marginLeft.px]="elem.stopSlide?(-slideOneLeft*elem.slideSpeed+slideDelay_1+slideDelay_2+slideDelay_3+slideDelay_4+slideDelay_5+slideDelay_6+slideDelay_7+slideDelay_8):(-slideOneLeft*elem.slideSpeed)"
             src="../../../assets/images/{{elem.src}}"
             alt=""
             [style.left.vw]="elem.left"
             [style.top.vh]="elem.top">

        <div class="slider-switch" *ngFor="let nav of items.slideDots"
             [style.marginLeft.px]="nav.stopSlide?(-slideOneLeft*nav.slideSpeed+slideDelay_1+slideDelay_2+slideDelay_3+slideDelay_4+slideDelay_5+slideDelay_6+slideDelay_7+slideDelay_8):(-slideOneLeft*nav.slideSpeed)"
             [style.opacity]="navShow_1 + navHide_1">
          <div class="slider-dots" *ngFor="let elem of ' '.repeat(9).split(''),  let x = index"
               [class.slider-active]="nav.activeElement === x+1">
          </div>
        </div>
      </div>
    </div>

    <div class="sprites">
      <div *ngFor="let items of cloudGroup"
           [class]="items.src"
           [style.marginLeft.px]="-cloudsLeft"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top">
      </div>

      <div *ngFor="let items of decorationGroup"
           [class]="items.src"
           [style.marginLeft.px]="items.slideDelay?(-decorationSpeed + nloDelay)*items.slideSpeed:(-decorationSpeed*items.slideSpeed)"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top"
           [style.z-index]="items.z_index">
      </div>

      <div *ngFor="let items of treeGroup"
           [class]="items.src"
           [style.marginLeft.px]="items.slideDelay?(-treeLeft + treeDelay_1 + treeDelay_2 + treeDelay_3 )*items.slideSpeed:(-treeLeft*items.slideSpeed)"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top"
           [style.z-index]="items.z_index">
      </div>

      <div *ngFor="let items of shrubGroup"
           [class]="items.src"
           [style.marginLeft.px]="-treeLeft*items.slideSpeed"
           [style.left.vw]="items.left"
           [style.top.vh]="items.top">
      </div>

      <div class="plane"
           [style.marginLeft.px]="planeSpeed">
      </div>
    </div>
  </div>
</div>

